<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>URL Shortener</title>
        <!-- HTMX -->
        <script defer src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
        <script defer src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        <!-- Alpine.js -->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <!-- daisyUI -->
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <!-- TailwindCSS -->
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto+Mono&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body class="bg-gray-200 h-screen">
    
    <div class="grid grid-cols-7 gap-4">
        <!-- Title -->
        <div class="col-span-3 col-start-3 pt-[24vh] pb-8">
            <p class="text-5xl" id="title">Shorten your URLs</p>
        </div>
        <!-- Instructions -->
        <div class="col-span-3 col-start-3">
            <p class="text-xl">
                Put in a URL that you want to shorten and a short URL will be generated.
            </p>
        </div>
        <!-- Input box and submit button -->
        <form 
            x-data="{ long_url: '', isValidUrl(long_url) { try { new URL(long_url); return true; } catch { return false; } } }"
            hx-target="#result"
            hx-post="/new-url"
            hx-ext="json-enc"
            class="col-span-3 col-start-3 mt-8 join"
        >
            <input
                class="input input-xl join-item w-2/3 focus:outline-none"
                autofocus
                placeholder="https://"
                type="url"
                pattern="^(https?://)?([a-zA-Z0-9]([a-zA-Z0-9\-].*[a-zA-Z0-9])?\.)+[a-zA-Z].*$"
                title="Must be a valid URL"
                required
                x-model="long_url"
                name="long_url"
            />
            <button 
                class="btn btn-primary btn-xl join-item rounded-r-full"
                :disabled="!isValidUrl(long_url)"
                type="submit"
            >
                Get short URL
            </button>
        </form>
        <!-- Results div -->
        <div class="col-span-3 col-start-3 mt-12">
            <div class="divider mb-8">
                <p class="text-2xl">Short URL</p>
            </div>
            <div id="result" class="text-center mt-12"></div>
        </div>
    </div>
    </body>
</html>

<style>
    #title {
        font-family: "Boldonse", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    #greeting {
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }
    #result {
        font-family: "Roboto Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
    }
</style>